<%- include('./partials/header')%>
    <h1>Mongoose flights</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad perspiciatis vitae dolorem, corporis maxime reprehenderit labore aliquid eaque laboriosam quos temporibus neque, at debitis inventore iste deserunt eius, veniam facere.</p>
  </body>
</html>
