<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href = '/'>Home Page</a>
        <a href = '/flights'>Flight List</a>
        <a href = '/new'>New Flight</a>
    </nav>
    <h1>Mongoose flights</h1>
    <p>Place holder text</p>
  </body>
</html>
