* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', serif;
  font-size: 35px;
  background-color: seagreen;
  color: darkslateblue;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1, h2, h5 {
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin: 3%
}

h5 {
  font-size: 20px;
}

.flight-info {
  background-color: seagreen;
  justify-content: center;
  display: flex;
  width: 90%;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 20px;
  font-weight: bold;
}

select, input {
  width: 100%;
  background-color: mistyrose;
  border-radius: 5px;
  font-family: 'Cinzel', 'serif';
  font-weight: bold;
  color: darkslateblue;
}

table, tr, td, th {
  border: 1px solid mistyrose;
  font-size: 18px;
  font-weight: bold;
}

th {
  font-weight: bolder;
}

tr, td, th {
  margin: 5%;
  text-align: center;
}

header { 
  background-color: rosybrown;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0%;
  flex-direction: row;
  width: 100vw;
  background: 
  linear-gradient(30deg, seagreen 12%, transparent 12.5%, transparent 87%, seagreen 87.5%, seagreen 0), 
  linear-gradient(150deg, seagreen 12%, transparent 12.5%, transparent 87%, seagreen 87.5%, seagreen 0), 
  linear-gradient(30deg, seagreen 12%, transparent 12.5%, transparent 87%, seagreen 87.5%, seagreen 0), 
  linear-gradient(150deg, seagreen 12%, transparent 12.5%, transparent 87%, seagreen 87.5%, seagreen 0), 
  linear-gradient(60deg, mediumseagreen 25%, transparent 25.5%, transparent 75%, mediumseagreen 75%, mediumseagreen 0), 
  linear-gradient(60deg, mediumseagreen 25%, transparent 25.5%, transparent 75%, mediumseagreen 75%, mediumseagreen 0), darkseagreen;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-size: 80px 140px;
}

a {
  color: darkslateblue;
  font-weight: bold;
}
