<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flight Form</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <a href = '/'>Home Page</a>
        <a href = '/flights'>Flight List</a>
        <a href = '/new'>New Flight</a>
    </nav>
  <h2>Select your Flight</h2>
  <form action="/flights" method="POST">
    <label>Airline:
      <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
    </label><br>
    <label>Flight Number:
      <input type="datetime-local" name="flightNo">
    </label><br>
    <label>Departure Date
      <input type="text" name="departs">
    </label><br>
    <input type="submit" value="Select Flight">
  </form>
</body>

</html>